*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;

}
body{
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.005em;

}
header{
    margin: auto;
    width: 540px;
    height: 174px;
    margin-top: 30px;
    display: block;
}
header p, header h1{
    text-align: center;
}
    #p1{
        font-size: 30px;
        font-weight:200 ;
        /* padding: 0 4px 0 2px; */
        font-weight: 200;
        letter-spacing: 0.005em;

}
h1{
    margin-bottom: 8px;
}
.container{
    width: 1750px;
    height: 33rem;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
div{
     width: 350px;
    height: 220px; 
    border-radius: 15px;
    background-color: #ffffff;
    flex-shrink: 8;
}
.a{
border-top: 5px solid #7CEECE ;
position: absolute;
left: 420px;
}
.b{
    border-top: 5px solid #E01931;
    position: absolute;
    left: 800px;
    top: 282px;
}
.c{
    border-top: 5px solid #FF770B;
    position: absolute;
    left: 800px; 
    top: 532px;

}
.d{
    border-top: 5px solid #3498DB;
    position: absolute;
    left: 1190px;
}

h3{
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    background-color: #ffffff;
}
img{
    margin-top: 5%;
    margin-left: 75%;
    background-color: #ffffff;
}
div p{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #ffffff;
}
p{
    opacity: 0.7;
}