*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;

}
body{
    background-color: #FBFBFB;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.005em;

}
header{
    margin: auto;
    width: 540px;
    height: 174px;
    margin-top: 30px;
    display: block;
}
header p, header h1{
    text-align: center;
}
    #p1{
        font-size: 30px;
        font-weight:200 ;
        /* padding: 0 4px 0 2px; */
        font-weight: 200;
        letter-spacing: 0.005em;

}
h1{
    margin-bottom: 8px;
}
.container{
    width: 50rem;
    height: 20rem;
    background-color: #FCFCFC ;
    margin: auto;
    /* margin-top: 50px; */
    margin-top: 3.125rem;
    justify-content: space-between;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
div{
    /* width: 350px;
    height: 220px; */
    width: 18.75%;
    height: 15%;
    border-radius: 25px;
    background-color: #F7F7F9;
    flex-shrink: 8;
}
.a{
border-top: 5px solid #7CEECE ;
position: absolute;
/* left: 420px; */
left: 26.25rem;
}
.b{
    border-top: 5px solid #E01931;
    position: absolute;
    /* left: 800px; */
    left: 50rem;
    /* top: 282px; */
    top: 17.625rem;
}
.c{
    border-top: 5px solid #FF770B;
    position: absolute;
    /* left: 800px; */
    left: 50rem;
    /* top: 532px; */
    top: 33.25rem;
}
.d{
    border-top: 5px solid #3498DB;
    position: absolute;
    /* left: 1190px; */
    left: 74.375rem;
}
h3{
    margin-top: 20px;
    margin-left: 40px;
}
img{
    margin-top: 10%;
    margin-left: 75%;
}
div p{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 16px;
}
p{
    opacity: 0.7;
}